html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.train-icon {
  background-color: red;
  border-radius: 50%;
}

.aircraft-icon {
  background-color: blue;
  border-radius: 50%;
}
